.banner {
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-image: url(../folder/inertia1.gif);
    background-size: cover;
    box-shadow: inset 0 0 50px rgba(186, 85, 211, 0.1);
    background-position: center;
    width: 1125px;
    min-height: 330px;
    margin-top: 0;
}

.banner-right,
.banner-right h1,
.banner-right p {
    background-color: transparent;
    color: #fff;
    background: transparent;
    margin-top: -80px;
    margin-right: 120px;
}

.banner-right p{
    margin-top: -10px;
    margin-right: 200px;
}

.banner-right h1{
    font-size: 42px;
}

.history h1 {
    text-align: right;
    margin-right: 460px;
    margin-top: 50px;
    color: #5b00b7;
}

.history .history-text {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 40px;
    text-align: center;
    direction: rtl;
    line-height: 25px;
}

.timeline img {
    width: 140%;
    height: auto;
    margin-top: 30px;
    margin-right: -100px;
}

.timeline-text ul {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-right: 80px;
    margin-top: 10px;
}

.timeline ul li {
    font-size: 20px;
    text-align: right;
    display: flex;
    margin-left: 680px;
    margin-top: 10px;
    direction: rtl;
    gap: 8px;
    color: #5b00b7;
}

p {
    font-size: 15px;
    text-align: right;
    display: flex;
    margin-right: 90px;
    margin-top: 5px;
    direction: rtl;
    line-height: 25px;
}

.card{
    margin-top: 30px;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 15px 15px 15px;
}

.body-text{
    direction: rtl;
    margin-left: 80px;
}

.body-text h2{
    color: #5b00b7;
    margin-right: 80px;
    margin-top: 60px;
}

.body-text p{
    line-height: 1.4;
    text-align: justify;
    display: block;
}

.body-text span{
    font-size: 18px;
    border-bottom: 2px solid #5b00b7;
    color: #5b00b7;
}

.modern-link{
    direction: rtl;
    text-align: center;
}

.modern-link h2{
    color: #5b00b7;
    margin-right: 80px;
    margin-top: 40px;
}

.modern-link p{
    line-height: 1.4;
    text-align: justify;
    display: block;
    margin-left: 80px;
}

.tips{
    text-align: right;
    margin-right: 150px;
}

.modern-link button{
    background: linear-gradient(135deg, rgb(250, 0, 159), #7f00ff, #001f3f);
    border-radius: 25px;
    border: none;
    color: white;
    width: 280px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: -800px;
    font-size: 1rem;
}

.modern-link button:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.modern-link .arrow {
    text-decoration: none;
    background: transparent;
    color: #fff;
    border: none;
}

.modern-link button a{
    text-decoration: none;
    background: transparent;
    color: #fff;
}

.modern-link span{
    font-size: 18px;
    border-bottom: 2px solid #5b00b7;
    color: #5b00b7;
}

.footer-brand p{
    line-height: 1.4;
    color: #000;
    margin-right: 50px;
}