*{
	box-sizing:border-box;
	direction: rtl;
}

body{
	margin:0;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background: linear-gradient(to left, rgba(94, 2, 122, 0.6), rgba(217, 3, 237, 0.2)), url(../folder/login.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
}

.container{
	width:300px;
	height:420px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	border-radius:15px;
	padding:50px;
	position:relative;
	overflow:hidden;
	gap: 10px;
	border: 1.4px solid #efeded;
}

.tabs label{
	flex:1;
	text-align:center;
	padding:25px;
	cursor:pointer;
	background:white;
	border-radius:20px;
	font-weight:bold;
	color:black;
	border-bottom:2px solid transparent;
	align-items:center;
}



input[type="text"],
input[type="password"],
input[type="email"]{
	width:100%;
	padding:8px;
	border-radius:5px;
}
