.banner {
    display: flex;
    align-items: center;
    padding: 60px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(28, 28, 28, 0.2)), url(../folder/scientists-banner.jpg);
    background-size: 100%;
    box-shadow: inset 0 0 50px rgba(186, 85, 211, 0.1);
    background-position: center;
    min-height: 335px;
    margin-top: 40px;
    width: 90.7%;
    padding-top: 130px;
}

.banner-right,
.banner-right h1,
.banner-right p {
    background-color: transparent;
    color: #fff;
    background: transparent;
    margin-top: -150px;
    margin-right: 140px;
}

.banner-right p{
    margin-top: -90px;
    margin-right: 5px;
    font-size: 18px;
    direction: rtl;
}

.banner-right h1{
    font-size: 42px;
    text-shadow: 4px 4px 4px #000;
}

.history h1 {
    text-align: right;
    margin-right: 380px;
    margin-top: 50px;
    color: #5b00b7;
}

.card{
    padding: 20px 40px 0 40px;
}

.card-wrapper{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 40px 10px 40px;
}

.card-card{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.card-card:hover{
    transform: translateY(-12px);
}

.card-image{
    position: relative;
    overflow: hidden;
}

.card-image img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: 0.5s;
}

.card-image:hover img{
    transform: scale(1.05);
}

.card-info h3{
    text-align: center;
    font-size: 25px;
}

.card-info p{
    text-align: center;
    font-weight: bold;
}

.card-info button{
    background: linear-gradient(135deg, rgb(250, 0, 159), #7f00ff, #001f3f);
    border-radius: 25px;
    border: none;
    color: white;
    width: 200px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    margin-inline: auto;
}

.card-info button:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-info a {
    text-decoration: none;
}

.belt{
    width: 97%;
    height: auto;
    background: linear-gradient(135deg, rgb(250, 0, 159), #7f00ff, #001f3f);
    margin-top: 70px;
    display: block;
    padding: 20px;
    direction: rtl;
}

.belt h2{
    color: #fff;
    background: transparent;
    direction: rtl;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 25px;
}

.belt p{
    color: #fff;
    background-color: transparent;
    margin-left: 80px;
    margin-right: 80px;
}

.modern-link{
    direction: rtl;
    text-align: center;
}

.modern-link h2{
    color: #5b00b7;
    margin-top: 40px;
}

.modern-link p{
    line-height: 1.4;
    text-align: justify;
    display: block;
    margin-left: 80px;
    margin-right: 80px;
}

.modern-link button{
    background: linear-gradient(135deg, rgb(250, 0, 159), #7f00ff, #001f3f);
    border-radius: 25px;
    border: none;
    color: white;
    width: 320px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    margin-inline: auto;
    font-size: 1rem;
}

.modern-link button:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.modern-link .arrow {
    text-decoration: none;
    background: transparent;
    color: #fff;
    border: none;
}

.modern-link button a{
    text-decoration: none;
    background: transparent;
    color: #fff;
}

.modern-link span{
    font-size: 18px;
    border-bottom: 2px solid #5b00b7;
    color: #5b00b7;
}


